<body>
<p>
  <h1 class='artisttitle'><%= @artist.name %></h1>
  <h2 class='artistcountry'><%= @artist.country %></h2>
</p>

<%= @artist.songs.each do |song| %>
    <div class = 'container'><img src ="<%=song.cover%>"</div>
    <%= song.album %>
    <%= song.year %>
    <%= song.ylink %>
    <% end %>

<h2>Add a song for this artist!</h2>
<div class = 'song_form'>
<%= form_for([@artist, @artist.songs.build]) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %><br>

    <h4>Upload album cover</h4>
    <%= f.label :cover %>
    <%= f.text_field :cover %><br>
  </p>
  <p>
    <%= f.label :album %>
    <%= f.text_field :album %><br>
  </p>
  <p>
    <%= f.label :year %>
    <%= f.text_field :year %><br>
  </p>
  <p>
    <h4>Add Youtube Link here</h4>
    <%= f.label :ylink %>
    <%= f.text_field :ylink %><br>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
</div>

<div class = 'editback'>
<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artist_path %>
</div>
</body>
